body {
    text-align: center;
    background-color: dimgray;

}

#header {
    background-color: beige;
}

#content-area {
    background-color: azure;
    display: flex;
    justify-content: center;
}

#controls-container {
    width: 200px;
    border: 2px solid black;
}

#grid-container {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex: none;
}

.grid-box {
    background-color: bisque;
}

.grid-box:hover {
    background-color: beige;
    cursor: crosshair;
}